@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.content {

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.card {
    border: none;

    padding: 5px 50px;
    width: 500px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputdata {
    width: 100%;
    max-width: 500px;
    text-align: center;



}

.inputdata input {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: 10px;
    margin-block: 10px;
    /* border-radius: 5px; */

}

.inputdata input[type="text"] {
    width: 70%;
}

.inputdata input[type="button"] {
    background-color: rgb(255, 98, 0);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

.inputdata input[type="button"]:hover {
    background-color: orangered;
}


ul {

    width: 100%;
    max-width: 450px;
    margin-top: 25px;
    padding: 0;
    /* background-color: aqua; */



}

ul li {

    width: 100%;
    list-style-type: none;
    border-bottom: 0.5px solid gray;
    /* border-radius: 5px; */
    margin-block-end: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;

}

ul li:hover{
    /* background-color: rgb(224, 224, 224); */
    border: 1px solid gray;
    border-radius: 10px;
}

ul li p{
    flex-grow: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.btn{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    
    
}

.delBtn{
    color: red;
}

.editBtn{
    color: rgb(0, 163, 49);
}

.delBtn:hover{
    color: white;
    background-color: red;
}

.editBtn:hover{
    color: white;
    background-color: rgb(0, 192, 10)
}