*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 0, 0, 0.868);
    padding: 10px ;
    color: white;
}

.content{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

footer{
    background-color: rgba(0, 0, 0, 0.868);
    padding: 10px ;
    color: white;
    text-align: center;
}